* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
   
}


.slide {
    width: 15%;
    min-height: 100vh; /* Adjust height as needed */
    margin: 0;
    overflow-x: hidden;
    background: #101824;
    color: white;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
}

.slide a{
    text-decoration: none;
    display: list-item;
    padding: 20px;
    border:4px black solid ;
    color: white;

}

.slide li a{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    color: azure;
}
.slide a:hover{
    background: #1b9bff;
    transition: .5s;
}
.active {
    background-color: red;
}



.main{
    background-color: white;
    margin: 0.5%;
    margin-left: 15.5%;
    width: 100%;

}

h1{
    font-size: 2.5em;
    padding-top:2% ;
}

.important{
    width: 40%;
    background-color: #C2D5AC;
    padding-top:0.5% ;
    padding-left:0.5% ;
}

.paragraphs{
    padding-bottom:1% ;
    padding-left:2% ;
}

.paragraphs p{
    margin-top:1% ;
    padding: 2%;
    
}

h2{
    margin:1% 0 1%  1%;
    font-size: 2em;
}


.example{
    background-color: #DEDEDE;
    color: black;
    padding-bottom: 0.5%;

}

 h3{
    padding: 1% 0 0% 0.5%;
    padding-left: 1%;
    font-size: 2em;
}

.example-show{
    background-color: white;
    margin: 1%;
     
}

.example-show .code{
    padding: 1%;
}

p{
    margin: 1%;
    font-size: 1.2em;
}


.exercise{
    background-color: #282A35;
    color: white;
    padding-bottom: 0.5%;
}

.exercise-description{
    background-color: white;
    margin: 1%;
    color: black;
}

.exercise-show{
    background-color: #DEDEDE;
    padding: 1%;
    margin: 1%;
}

button{
    margin:1%;
    background-color: #04AA6D;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
    cursor: pointer;
}


.list{
    padding-left: 3%;
    
}

.list li{
    padding:0.2% ;
}

hr{
    margin-top: 1%;
}

span{
    color: red;    
}

#square{
    background-color: white;
    padding: 0.4%;
}

.quizz{
    margin-top: 1%;
    margin-left: 1%;
    background-color: #1b9bff;
    border-radius: 5px;
    font-size: 17px;
    padding: 6px 18px;
    cursor: pointer;
    width: fit-content;
}

.quizz a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 1.2em;
}

.end-section{
    background-color: #101824;
    margin-left: 2%;
    margin-right:2%;
    width: 2px;
}